@page "/Cart"
@model WebApplication.Pages.Products.CartModel
@{
    ViewData["Title"] = "Cart";
}
<style>
    .table-wrapper {
        height: 300px;
        overflow-y: scroll;
    }

        .table-wrapper::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        .table-wrapper::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        .table-wrapper::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #FFF;
            background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6, #54DE5D))
        }
</style>

<body>
    <div class="container h-100 w-100 mt-4">
        <div class="row p-3" style="border-bottom: 2px solid #c1c1c1;">
            <div class="col-12 d-flex align-items-center ">
                <div class="col-6 navigate_wrapper text-left">
                    <i class="fas fa-backward ms-4" style="font-size:15px;"></i>
                    <a href="#" class="naviagate_link fw-bold ms-2">Continue shopping</a>
                </div>
                <div class="col-6 navigate_wrapper text-center ">
                    <p class="fw-bold fs-4">IWardrobe Cart</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="table-wrapper col-12">
                <table class="table position-relative">
                    <thead class="position-sticky z-3">
                        <tr class="mb-5">
                            <th scope="col" class="fs-5 text-center">@Html.DisplayNameFor(model => model.CartDetail[0].Product.ProductName)</th>
                            <th scope="col" class="fs-5 text-center">@Html.DisplayNameFor(model => model.CartDetail[0].Product.ImageUrls)</th>
                            <th scope="col" class="fs-5 text-center">@Html.DisplayNameFor(model => model.CartDetail[0].Quantity)</th>
                            <th scope="col" class="fs-5 text-center">Product's price'</th>
                            <th scope="col" class="fs-5 text-center">Pick to pay</th>
                        </tr>
                    </thead>
                    <tbody class="table-body h-50 ">
                        @if (Model.CartDetail == null || Model.CartDetail.Count == 0)
                        {
                            <h2 class="text-black-50 text-center">Your cart is emmpty</h2>
                        }else{
                            @foreach(var cart in Model.CartDetail){
                                <tr class="table-row mt-4 ">
                                    <td class="fs-5 text-center align-middle res">@Html.DisplayFor(model => cart.Product.ProductName)</td>
                                    <td class="product-image text-center align-middle">
                                        <img src=@cart.Product.ImageUrls[0]
                                     alt="" class="rounded-3 img-fluid w-25">
                                    </td>
                                    <td class="fs-5 text-center align-middle">
                                        <div class="quantity-wrapper d-flex justify-content-between align-items-center m-auto">
                                            <form method="post" class="">
                                                <input type="hidden" asp-for="@Model.cartDetailId" value="@cart.CartDetailId" />
                                                <input type="hidden" asp-for="@Model.quantityUpdateAction" value="Decrease" class="quantity" />
                                                <button class="decrease-btn btn btn-adjustment fs-1" asp-page-handler="UpdateQuantity">-</button>
                                            </form>
                                            <h5 class="fw-normal mb-0 amount">@Html.DisplayFor(model => cart.Quantity)</h5>
                                            <form method="post">
                                                <input type="hidden" asp-for="@Model.cartDetailId" value="@cart.CartDetailId" />
                                                <input type="hidden" asp-for="@Model.quantityUpdateAction" value="Increase" class="quantity" />
                                                <button class="increase-btn btn btn-adjustment  fs-2" asp-page-handler="UpdateQuantity">+</button>
                                            </form>
                                        </div>
                                    </td>
                                    <td class="fs-5 text-center align-middle">@Html.DisplayFor(model => cart.Product.SellPrice)</td>
                                    
                                    <td class="fs-5 text-center align-middle">
                                        <input type="checkbox" name="" id="" class="w-100 product-pick">
                                        <span style="display:none" class="cartIdhidden">@Html.DisplayFor(model => cart.CartDetailId)</span>
                                    </td>
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
            </div>
            <div class="btn-wrapper ">
                <form method="post" asp-action="Payment" class="w-100 d-flex justify-content-center">
                    <input type="hidden" class="cartId" asp-for="@Model.paymentCart">
                    <button type="submit" disabled class="btn  w-25 align-self-center m-5 fw-bold btn-purchase" asp-page-handler="Payment">
                        <i class="fas fa-shopping-cart "></i>
                        <span class="btn-content">Purchase</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="recommend-wrapper col-12 d-flex m-auto  p-3 flex-wrap ">
                 @if(Model.RandomProduct != null){
                    @for (int i = Model.RandomProduct.Count() - 4; i < Model.RandomProduct.Count; i++)
                    {
                        <div class="product-wrapper text-center m-auto  h-50 col-lg-3 col-sm-6 col-md-4 col-xs-12 p-1">
                            <div class="image--wrapper">
                                <img src="@Html.DisplayFor(model => Model.RandomProduct[i].ImageUrls)"
                             alt="" class="rounded-top-4 w-75">
                            </div>
                            <div class="product-infor w-75 m-auto text-center rounded-bottom-4"
                         style="background-color: #dddedb; padding-bottom: 10px;">
                                <span class="product__name fs-4 d-block " style="white-space: nowrap;  text-overflow: ellipsis;overflow: hidden;"> @Html.DisplayFor(model => Model.RandomProduct[i].ProductName)</span>
                                <button class="btn btn-success w-50 d-block fw-bold" style="margin:auto" type="button">
                                    <a asp-page="/Products/Details" asp-route-id="@Model.RandomProduct[i].ProductId" style=" text-decoration:none; color:#fff">View detail</a>
                                </button>
                            </div>
                        </div>
                    }
                 }
                 
            </div>
        </div>
    </div>
</body>
<script src="~/js/Payment.js"></script>
<script src="~/js/Cart.js"></script>
