@page "/Cart"
@model WebApplication.Pages.Products.CartModel
@{
    ViewData["Title"] = "Cart";
}
<style>
  .item-wrapper {
    height:600px;
    overflow-y: scroll;
  }
  .item-wrapper::-webkit-scrollbar {
    display: none;
  }
  .btn-adjustment{
    margin:0 10px 0 10px;
    font-size:1.2rem;
    font-weight: bold;
  }
  .btn-adjustment:hover{
    background-color: #DDDDDD;
  }
  .recommend-item{
    cursor: pointer;
  }

  .detail-btn{
    position:absolute;
    bottom:50%;
    left:25%;
    background-color:rgb(154 205 50);
    font-weight: bold;
  }
  .detail-btn:hover{
    background-color:rgb(154 205 50);

  }
  .detail-wrapper{
    z-index: 4;
    background-color: rgba(190,190,190,0.6);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    transition:all 0.2s linear;
    display:none;
  }
  .recommend-item:hover .detail-wrapper{
    display: block;
  }
</style>

  <section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">

              <div class="row">

                <div class="col-lg-12">
                                <a href="./Index" class="text-body">
                                    <h5 class="mb-3">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</h5></a>
                 
                  <hr>

                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have items @Model.CartDetail.Count() in your cart</p>
                    </div>
                  </div>
                  <div class="item-wrapper">
                      @if (Model.CartDetail == null || Model.CartDetail.Count == 0)
                      {
                          <h2 class="text-black-50 text-center">Your cart is emmpty</h2>
                      }else{
                                        @foreach (var cart in Model.CartDetail)
                                        {
                                            <div class="card mb-3 item">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div>
                                                                <img src="https://5sfashion.vn/storage/upload/images/products/aapk25ecXeAwl0Oy2zPoCmpnG5SccYxMW6YEBCvT.jpg"
                                                             class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                            </div>
                                                            <div class="ms-3">
                                                                <h5>@Html.DisplayFor(model => cart.Product.ProductName)</h5>
                                                                <p class="small mb-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center justify-content-between ">
                                                            <div style="width: 100px; margin-right:100px;" class="d-flex justify-content-between align-items-center">
                                                                <form method="post">
                                                                    <input type="hidden" asp-for="@Model.cartDetailId"  value="@cart.CartDetailId"/>
                                                                    <input type="hidden" asp-for="@Model.quantityUpdateAction" value="Decrease" class="quantity" />
                                                                    <button class="decrease-btn btn btn-adjustment" asp-page-handler="UpdateQuantity" >-</button>
                                                                </form>
                                                                <h5 class="fw-normal mb-0 amount">@Html.DisplayFor(model => cart.Quantity)</h5>
                                                                <form method="post">
                                                                    <input type="hidden" asp-for="@Model.cartDetailId"  value="@cart.CartDetailId"/>
                                                                    <input type="hidden" asp-for="@Model.quantityUpdateAction" value="Increase" class="quantity" />
                                                                    <button class="increase-btn btn btn-adjustment" asp-page-handler="UpdateQuantity" >+</button>
                                                                </form>
                                                            </div>
                                                            <div style="width: 100px;">
                                                                <span class="original-price" style="display:none;">@Html.DisplayFor(model => cart.Product.SellPrice)</span>

                                                                <h5 class="mb-0 price" style="margin-right:10px;"> @Html.DisplayFor(model => cart.Product.SellPrice)</h5>
                                                            </div>
                                                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                            <span style="display:none" class="cartIdhidden">@Html.DisplayFor(model => cart.CartDetailId)</span>
                                                            <form action="">
                                                                <input type="checkbox" name="" id="" class="buy-checking">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                      }
                  </div>
                  <div class="d-flex justify-content-center">
                    <form method="post" >
                         <input type="hidden" class="cartId" asp-for="@Model.paymentCart">
                        <button type="submit" class="btn " style="width:200px;background-color:rgb(154 205 50);font-weight:bold;" asp-page-handler="Payment">Payment</button>
                    </form>
                  </div>
                  <div class="d-flex justify-content-center mt-4 mb-5 " style="font-size:1.7rem; font-weight:bold;">
                    <span class="text-center">May you like them ....</span>
                  </div>
                  <div class="d-flex justify-content-center">
                      <ul class="d-flex justify-content-around recommend-list flex-wrap" style="list-style:none; width:100%;">
                          @for(int i = Model.RandomProduct.Count()-4; i < Model.RandomProduct.Count;i++){
                               <li class="recommend-item" style="position: relative;">
                                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/T-shirt.jpg/1200px-T-shirt.jpg"
                                       class="d-block img-rounded rounded-3" style="width:250px; min-height: 100px;" alt="..."/>
                                       <div class="detail-wrapper">
                                          <button class="btn  detail-btn" style="width:50%;">
                                              <a asp-page="./Details" asp-route-id="@Model.RandomProduct[i].ProductId">View detail</a>
                                          </button>
                                       </div>
                                </li>
                          }
                      </ul>
                  </div>
                  <div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<script src="~/js/Cart.js"></script>